# Pandas Para La Vida Diaria

## 1. - Python es una boa?

Python is an object-oriented, interpreted, and interactive programming language. Dado que es un lenguaje de programacion orientado a objetos Python tiene dos principales componentes, los estructuras de datos y las funciones.

## 1.1 - Estructura de Datos

Las estructuras de datos se dividen en dos principalmente. Las estructuras primitivas y las no primitivas

### Estructuras Primitivas

#### Intergers

In [38]:
x = 2
type(x)

int

#### Float

In [39]:
y = 3.1416
type(y)

float

#### Strings

In [40]:
z = "Hello world"
type(z)

str

#### Boolean

In [41]:
w = True
v = False
type(w)

bool

### Estructuras No Primitivas

#### Array

In [42]:
import numpy as np 
a = np.array([3,6,9])
type(a)

numpy.ndarray

In [43]:
import array as arr
a = arr.array("I",[3,6,9])
type(a)

array.array

#### List

In [44]:
ls = [1, "2" , "three", [ [ [3,"three"] ] ] ]
type(ls)

list

#### Tuplas

In [45]:
tuples = (1 , "two", [ [4, "five" ] ], ( 6, "seven" ) )
type(tuples)

tuple

In [46]:
print(ls[0])
ls[0] = 55
print(ls[0])

1
55

In [47]:
# Tupla o lista?
print(tuples[0])
tuples[0] = 55
print(tuples[0])

1

TypeError: 'tuple' object does not support item assignment

As you can see, you can't change the tuple as a list

#### Dictionarios

In [48]:
dic = {
    "a" : "a",
    "b" : 1
}
type(dic)

dict

In [49]:
 from collections import defaultdict
d = defaultdict(list)
d = {
    1 : [2 , "three" , [4 , ["five"] ] ] ,
    2 : [2 , [4]]
}
type(d)

dict

In [50]:
 from collections import defaultdict
d = defaultdict(tuple)
d = {
    "a" : (2 , "three" , [4 , ["five"] ] ) ,
    2 : (2 , [4])
}
type(d)

dict

In [51]:
d["a"]

(2, 'three', [4, ['five']])

#### Conjuntos

In [52]:
xSet = set('PaAndas')
ySet = set('Ultrapanda')

print(xSet)

{'P', 'n', 'd', 's', 'A', 'a'}

In [53]:
type(ySet)

set

## 1 . 2 - Funciones

Es un conjunto de instrucciones que se usaran repetidamente.

#### Built-in

In [54]:
print("A")

A

#### Definidas por el usuario

In [55]:
def imprimir(x):
    return x
imprimir("A")

'A'

#### Funciones Lambda

In [56]:
x = lambda x : x
x("A")

'A'

In [57]:
x = lambda x , y : x + 3*y
x(1 , 2)

7

## 1 . 3 - Metodos

Los metodos son funciones que son parte de una clase

## 1 . 4 - Parametros / Argumentos

Parametros son los nombres con los cuales se definen las variables de una funcion una funcion o metodo. Mientras que los argumentos los valores que se les asigna a los parametros que seran utilizados en las funciones.

In [58]:
def func(a, b,  d= 2):
    f = b + a + d
    return f   
func(1 , 1)

4

# Pandas

## 2 . 1 - Pandas? Python es un zoologico?

Pandas es una libreria de Python para manipular dataframes

## 2 . 2 - Importar archivos

In [59]:
import pandas as pd
# Importing Excel files
df = pd.read_excel(r"data-course.xlsx")

In [60]:
# Importing CSV files
df = pd.read_csv(r"data-course.csv")

## 2 . 3 - Funcion para importar en Pandas

### 2. 3 . 1 - Preliminares para la funcion

In [61]:
x = "Djobi Djoba"
print("a" in x)

True

In [62]:
y  = None
if y:
    print("true")
else:
    print("false")

false

### 2 . 3 . 2 - Construyendo la funcion

##### Importando un CSV

In [63]:
import pandas as pd
def importFiles(FileInit):
    if ".csv" in FileInit:
        dfIn = pd.read_csv(FileInit)
    else:
        print("No file")

In [64]:
FileInit = r"data-course.csv"
df = importFiles(FileInit)

##### Importando un Excel

In [65]:
import pandas as pd
def importFiles(FileInit):
    if ".xlsx" in FileInit:
        dfIn = pd.read_excel(FileInit)
    else:
        print("No file")

In [66]:
FileInit = r"data-course.xlsx"
df = importFiles(FileInit)

##### Juntando todos los Casos

In [67]:
import pandas as pd
def importFiles(FileInit):
    if ".csv" in FileInit:
        dfIn = pd.read_csv(FileInit)
    elif ".xlsx" in FileInit:
        dfIn = pd.read_excel(FileInit)
    else:
        dfIn = FileInit 
    return dfIn

In [68]:
FileInit = r"data-course.xlsx"
df = importFiles(FileInit)

## 2 . 4 - Revisando que tiene el dataframe

.head() es un metodo que se utiliza para observar que es lo que se encuentra dentro del Data Frame. Por default solo despliega las primeras 5 columnas, pero se puede cambiar para que despliegue mas columnas utilizando --> df.head(numeroColumnas)

In [69]:
df.head()

,NAME,STREET,STATE,ZIP,PHONE,lat,long
0,1,"Los Angeles, CA 90044",NaN,NaN,(321) 111-2222,33,-118
1,2,"12345 Something BlvdLos Angeles, CA 12345",NaN,NaN,(321) 111-2222,33,-118
2,3,"12345 Something BlvdLos Angeles, CA 12346",NaN,NaN,(321) 111-2222,33,-118
3,4,"12345 Something BlvdLos Angeles, CA 12347",NaN,NaN,(321) 111-2222,33,-118
4,5,"12345 Something BlvdLos Angeles, CA 12348",NaN,NaN,(321) 111-2222,33,-118

.info() arroja imformacion del formato de cada columna

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1782 entries, 0 to 1781
Data columns (total 7 columns):
NAME      1782 non-null int64
STREET    1782 non-null object
STATE     0 non-null float64
ZIP       0 non-null float64
PHONE     1782 non-null object
lat       1782 non-null int64
long      1782 non-null int64
dtypes: float64(2), int64(3), object(2)
memory usage: 97.5+ KB

## 2 . 5 - Separando una columna

In [71]:
df = df[df["STREET"].str.contains(",")]
dfl = df[~df["STREET"].str.contains(",")] 
street = df["STREET"].str.split(pat=",", expand=True)

In [72]:
type(street)

pandas.core.frame.DataFrame

In [73]:
street.head()

                                 0          1
0                      Los Angeles   CA 90044
1  12345 Something BlvdLos Angeles   CA 12345
2  12345 Something BlvdLos Angeles   CA 12346
3  12345 Something BlvdLos Angeles   CA 12347
4  12345 Something BlvdLos Angeles   CA 12348

In [80]:
street2 = street[1][street[1].notna()]

In [81]:
len(street2)

1782

In [82]:
df["STREET"] = street[0]
df["STATE"] = street[1]

In [83]:
df.head()

,NAME,STREET,STATE,ZIP,PHONE,lat,long
0,1,Los Angeles,CA 90044,NaN,(321) 111-2222,33,-118
1,2,12345 Something BlvdLos Angeles,CA 12345,NaN,(321) 111-2222,33,-118
2,3,12345 Something BlvdLos Angeles,CA 12346,NaN,(321) 111-2222,33,-118
3,4,12345 Something BlvdLos Angeles,CA 12347,NaN,(321) 111-2222,33,-118
4,5,12345 Something BlvdLos Angeles,CA 12348,NaN,(321) 111-2222,33,-118

In [84]:
state = df["STATE"].str.split(expand=True)

In [85]:
state.head()

    0      1
0  CA  90044
1  CA  12345
2  CA  12346
3  CA  12347
4  CA  12348

In [86]:
df["STATE"] = state[0]
df["ZIP"] = state[1]

In [87]:
df.head()

,NAME,STREET,STATE,ZIP,PHONE,lat,long
0,1,Los Angeles,CA,90044,(321) 111-2222,33,-118
1,2,12345 Something BlvdLos Angeles,CA,12345,(321) 111-2222,33,-118
2,3,12345 Something BlvdLos Angeles,CA,12346,(321) 111-2222,33,-118
3,4,12345 Something BlvdLos Angeles,CA,12347,(321) 111-2222,33,-118
4,5,12345 Something BlvdLos Angeles,CA,12348,(321) 111-2222,33,-118

## 2 . 6 - Uniendo Columnas

In [88]:
df["Zip_Code_State"] = df["ZIP"] + "--" + df["STATE"]

In [89]:
df.head()

,NAME,STREET,STATE,ZIP,PHONE,lat,long,Zip_Code_State
0,1,Los Angeles,CA,90044,(321) 111-2222,33,-118,90044--CA
1,2,12345 Something BlvdLos Angeles,CA,12345,(321) 111-2222,33,-118,12345--CA
2,3,12345 Something BlvdLos Angeles,CA,12346,(321) 111-2222,33,-118,12346--CA
3,4,12345 Something BlvdLos Angeles,CA,12347,(321) 111-2222,33,-118,12347--CA
4,5,12345 Something BlvdLos Angeles,CA,12348,(321) 111-2222,33,-118,12348--CA

## 2 . 7 - Definir Indices

In [90]:
df = df.set_index("NAME")

In [91]:
df.head()

,STREET,STATE,ZIP,PHONE,lat,long,Zip_Code_State
NAME,,,,,,,
1,Los Angeles,CA,90044,(321) 111-2222,33,-118,90044--CA
2,12345 Something BlvdLos Angeles,CA,12345,(321) 111-2222,33,-118,12345--CA
3,12345 Something BlvdLos Angeles,CA,12346,(321) 111-2222,33,-118,12346--CA
4,12345 Something BlvdLos Angeles,CA,12347,(321) 111-2222,33,-118,12347--CA
5,12345 Something BlvdLos Angeles,CA,12348,(321) 111-2222,33,-118,12348--CA

## 2 . 8 - Escribir Data Frame en un CSV

In [93]:
df.to_csv(r"PythonnewDataFrame.csv")

## 2 . 9 . - Voy a ganar mi primer millon ( Primer script)

Ahora juntamos todo lo que se ha escrito en las previas celdas. Primero pegamos la funcion de importar archivos. Despues, creamos una funcion que se llame ProscensandoArchivos para hacer todo el proceso que se ha hecho en celdas anteriores. Primero mandamos a llamar a la funcion importFiles para crear el dataframe utilizando solo la direccion de archivo como variable. Luego, se pega todo el proceso que se hizo para limpiar los datos.

In [96]:
#-----------------------------------------------------
#--> Importing libraries
import pandas as pd
#------------------------------------------------------
#--> A function to import a csv or excel file
def importFiles(FileInit):
    if ".csv" in FileInit:
        dfIn = pd.read_csv(FileInit)
    elif ".xlsx" in FileInit:
        dfIn = pd.read_excel(FileInit)
    else:
        dfIn = FileInit 
    return dfIn
#------------------------------------------------------
#--> A function to process the data
def ProcesandoArchivos(initialFile, exitNameFile):
    #-->  calling the importFiles function to make a DF
    df = importFiles(initialFile)
    #--> Split the DF by "," into the STREET column
    df = df[df["STREET"].str.contains(",")]
    dfl = df[~df["STREET"].str.contains(",")] 
    #--> Spliting the STREET columns with "," and getting a new DF
    street = df["STREET"].str.split(pat=",", expand=True)
    #--> Overwriting the "STREET" column in the initial DF with the first column of the new one
    df["STREET"] = street[0]
    #--> Overwriting the "STATE" column in the initial DF with the first column of the new one
    df["STATE"] = street[1]
    #--> Spliting the STATE column into two
    state = df["STATE"].str.split(expand=True)
    #--> Overwriting the STATE column with the first column of the state DF
    df["STATE"] = state[0]
    #--> Overwriting the ZIP column with the second column of the state DF
    df["ZIP"] = state[1]
    #--> Concantanating the columns ZIP and STATE into a new one called Zip_Code_State
    df["Zip_Code_State"] = df["ZIP"] + "--" + df["STATE"]
    #--> Setting the index by NAME
    df = df.set_index("NAME")
    #--> Writing a CSV with my DF
    df.to_csv(exitNameFile)
    return df
#-------------------------------------------------------
#--> Running the script
initialFile = r"data-course.xlsx"
exitNameFile = r"data.csv"
df = ProcesandoArchivos(initialFile, exitNameFile)